* {
  box-sizing: border-box;
}

body {
  height: 80vh;
  background-image: url("../images/main_bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#sample-text-card {
  margin: 1px 100px 85px 90px;
  font-family: Comfortaa;
  color: white;
}

#sample-text-card h1 {
  font-size: 60px;
  color: white;
}

#sample-text-card p {
  font-size: 14px;
  color: white;
}

.button-wrapper a {
  width: 130px;
}

/* Style the footer */
footer {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-link {
  color: #ffffff; /* Set the color to red (#FF0000) */
  text-decoration: none; /* Remove the default underline */
}
