* {
  box-sizing: border-box;
  font-family: comfortaa;
}

body {
  height: 100vh;
  background-color: rgb(149, 177, 196);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 550px;
  height: auto;
  padding: 15px;
  background-color: white;
  border-radius: 7px;
}

.email-msg-header {
  text-align: center;
}

.company-name {
  width: 100%;
  font-size: 35px;
  color: gray;
  text-align: center;
}

.welcome-text {
  text-align: center;
}

.verify-account-btn {
  padding: 15px;
  background-color: rgb(0, 109, 252);
}
