* {
  box-sizing: border-box;
  font-family: Comfortaa;
}

.body {
  background-color: rgb(211, 217, 226);
  
}

.main-page-header {
  padding: 10px 0px;
}

.main-page-header .company-name {
  font-weight: 600;
  color: white;
}

.navigation {
  margin-left: 20px;
}

.navigation li {
  display: inline-block;
  list-style-type: none;
  margin: 0px 15px;
}

.navigation li a {
  color: white;
  text-decoration: none;
}

.display-name{
  font-weight: 600;
}